In [1]:
import pandas as pd

###  countries of analysis:

In [2]:
country_list = ["Spain", "Netherlands", "France", "Greece", "Austria", "Denmark", "Belgium", "Italy", "Poland", "Sweden"]

In [ ]:
header_list = ["Year", "Country", "Score", "GDP", "Social support", 
               "Healthy life expectancy", "Freedome", "Corruption"]

## Cleaning of Happiness 2017

#### open file

In [16]:
happiness_2017 = pd.read_csv("../Data/happiness_2017_extended.csv")

#### select countries

In [17]:
happiness_2017 = happiness_2017[(happiness_2017["Country"].isin(country_list))]
happiness_2017.columns

Index(['Country', 'Happiness score', 'GDP per capita', 'Social support',
       'Healthy life expectancy', 'Freedom to make life choices',
       ' Generosity', 'Perceptions of corruption', 'Unnamed: 8', 'Unnamed: 9'],
      dtype='object')

##### change the col names + drop empty cols

In [41]:
happiness_2017 = happiness_2017.dropna(axis=1)
happiness_2017 = happiness_2017.rename(columns={"Happiness score":"Score", "GDP per capita":"GDP",
                                               "Freedom to make life choices":"Freedom"})
# add year 2017
# add year col
# order col accordingly

In [42]:
happiness_2017

,Country,Score,GDP,Social support,Healthy life expectancy,Freedom,Generosity,Perceptions of corruption
1,Denmark,7.522,1.482,1.551,0.793,0.626,0.355,0.401
5,Netherlands,7.377,1.504,1.429,0.811,0.585,0.470,0.283
8,Sweden,7.284,1.494,1.478,0.831,0.613,0.385,0.384
12,Austria,7.006,1.487,1.460,0.815,0.568,0.316,0.221
16,Belgium,6.891,1.464,1.462,0.818,0.540,0.232,0.251
30,France,6.442,1.431,1.388,0.844,0.470,0.130,0.173
33,Spain,6.403,1.384,1.532,0.889,0.409,0.190,0.071
45,Poland,5.973,1.292,1.446,0.699,0.520,0.158,0.059
47,Italy,5.964,1.395,1.445,0.853,0.256,0.173,0.028
86,Greece,5.227,1.289,1.239,0.810,0.096,0.000,0.043

#### save to new csv

In [43]:
happiness_2017.to_csv("../Data/happiness_2017.csv")

# Cleaning of happiness 2016
code steps explained in previous section, same process used for all tables

In [39]:
# read
happiness_2016 = pd.read_csv("../Data/happiness_2016_extended.csv")

# check for countries 
happiness_2016 = happiness_2016[(happiness_2016["Country"].isin(country_list))]

# rename columns for consistencey to join
happiness_2016 = happiness_2016.rename(columns={"Happiness score":"Score", "GDP per capita":"GDP", 
                                                "Freedom to make life choices":"Freedom"})

# frop Na column 
happiness_2016 = happiness_2016.dropna(axis=1)

happiness_2016
# delete generosity and corruption?
# add year col
# order col accordingly

,Country,Score,GDP,Social support,Healthy life expectancy,Freedom,Generosity,Perceptions of corruption
0,Denmark,7.526,1.441784,1.163745,0.795040,0.579413,0.361710,0.444532
6,Netherlands,7.339,1.464684,1.029123,0.812309,0.552114,0.474158,0.299268
9,Sweden,7.291,1.451810,1.087640,0.831212,0.582185,0.382538,0.408666
11,Austria,7.119,1.450382,1.083833,0.805645,0.543552,0.328647,0.213484
17,Belgium,6.929,1.425390,1.052487,0.819594,0.513538,0.242399,0.262476
31,France,6.478,1.394884,1.005080,0.837950,0.465618,0.121603,0.178083
36,Spain,6.361,1.342531,1.129447,0.878960,0.375447,0.176650,0.061373
49,Italy,5.977,1.354947,1.041667,0.851018,0.188267,0.166839,0.025556
56,Poland,5.835,1.245847,1.046848,0.690581,0.451902,0.144435,0.054996
98,Greece,5.033,1.248862,0.754732,0.800289,0.058221,0.000000,0.041272

In [44]:
# save
happiness_2016.to_csv("../Data/happiness_2016.csv")

# Cleaning of happines other years

In [40]:
# read file
happiness_older = pd.read_csv("../Data/happiness_2015_to_2010_extended.csv")

# select countries
happiness_older = happiness_older[(happiness_older["country"].isin(country_list))]

# make column names consistent to join 
happiness_older = happiness_older.rename(columns={"Life Ladder":"Score", "Log GDP per capita":"GDP", 
                                                  "Healthy life expectancy at birth":"Healthy life expectancy", 
                                                  "Freedom to make life choices":"Freedom"})

# two columns with NaN as csv file had a cell merge
happiness_older = happiness_older.dropna(axis=1)

# maintain all columns consistent with all files of Happiness. 
# 2015 onwards dont't have pos, neg affect and confidence in national government 
happiness_older = happiness_older.drop(["Positive affect"], axis=1)
happiness_older = happiness_older.drop(["Negative affect"], axis=1)

happiness_older.head()


# order col accordingly
# keep confidence?

,country,year,Score,GDP,Social support,Healthy life expectancy,Freedom,Confidence in national government
52,Austria,2006,7.122211,10.648226,0.936350,70.018700,0.941382,0.497038
53,Austria,2008,7.180954,10.692783,0.934593,70.501869,0.879069,0.257242
54,Austria,2010,7.302679,10.668132,0.914193,70.632278,0.895980,0.486447
55,Austria,2011,7.470513,10.692453,0.944157,70.985039,0.939356,0.406920
56,Austria,2012,7.400689,10.695439,0.945142,70.944412,0.919704,0.376574

In [45]:
# save 
happiness_older.to_csv("../Data/happiness_2015_and_older.csv")